<div class="widget tag">
<ul class="entry">
  <% for (var i in config.links) { %>
    <li><a href="<%- config.links[i] %>" target="_blank"><%= i %></a></li>
  <% } %>
  <div class="clearfix"></div>
</ul>
</div>
