// Color
color-background = #f9f9f9
color-font = #444
color-meta = #999
color-border = #ddd
// color-link = #258fb8
color-link = color-font

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", "STSong", "华文宋体", "SimSun", "宋体", "AR PL UMing CN", "AR PL UMing HK", serif
font-mono = "Ubuntu Mono", Consolas, Menlo, "DejaVu Sans Mono", "Courier New", "Lucida Console", monospace, sans-serif
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif
font-italic = "Emphasis", STKaiti, "AR PL UKai CN", "AR PL UKai HK", Kai, Kaiti, SimKai, "SimKai_GB2312", serif

// @import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family "Emphasis"
  src local("Georgia Italic"), local("Georgia")
  font-style italic
  font-weight normal
}

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
