// Color
color-background = #ffffff
color-font = #555
color-meta = #999
color-border = #dadada
color-link = color-font
color-link-hover = #222
color-link-border = #ccc
color-link-border-hover = #222

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, "Noto Sans CJK SC", "Noto Sans CJK S Chinese", "Source Han Sans CN", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
font-serif = "Georgia", "STSong", "华文宋体", "SimSun", "宋体", "AR PL UMing CN", "AR PL UMing HK", serif
font-mono = "Fira Code", Consolas, Menlo, "DejaVu Sans Mono", "Courier New", "Lucida Console", "Noto Sans CJK SC", "Noto Sans CJK S Chinese", "Source Han Sans CN", "Hiragino Sans GB", "Microsoft YaHei", monospace, sans-serif
font-title = "Lato", Helvetica Neue, Helvetica, Arial, "Noto Sans CJK SC", "Noto Sans CJK S Chinese", "Source Han Sans CN", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
font-italic = "Emphasis", STKaiti, "AR PL UKai CN", "AR PL UKai HK", Kai, Kaiti, SimKai, "SimKai_GB2312", serif

// @import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family "Emphasis"
  src local("Georgia Italic"), local("Georgia")
  font-style italic
}

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src: url(font-icon-path.eot?v=4.7.0)
  src: url(font-icon-path.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(font-icon-path.woff2?v=4.7.0) format('woff2'), url(font-icon-path.woff?v=4.7.0) format('woff'), url(font-icon-path.ttf?v=4.7.0) format('truetype'), url(font-icon-path.svg?v=4.7.0#fontawesomeregular) format('svg')
}

// Width
page-width = 1200px
