#comment
  padding 20px
  // background #fff
  // box-shadow 1px 2px 3px #ddd
  margin-bottom 50px

  .title
    font-weight normal
    margin-bottom 15px

  .provider_switcher
    text-align center
    color color-meta
    margin-top 20px
    margin-bottom 15px

  .provider_selected
    display inline-block
    padding-top 15px
    padding-bottom 5px
    margin-left 20px
    margin-right 20px
    cursor: pointer
    border-top 0
    border-left 0
    border-bottom 3px solid #777
    border-right 0

  .provider_unselected
    display inline-block
    padding-top 15px
    padding-bottom 5px
    margin-left 20px
    margin-right 20px
    border 0
    cursor: pointer
