#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  text-align center
  ul
    li
      display inline
      list-style none
      margin-left 7px
      margin-right 7px
      a
        color color-meta
        &:hover
          color color-link-hover
          border-bottom-color color-link-border-hover
