#header
  text-shadow 0 0 1px #fff
  margin 50px auto 120px
  text-align center
  color color-font

  a
    &:hover
      color color-link-hover
      border-bottom none
    
  h1
    font-weight normal
    font-size 2.5em
    line-height 1

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
    a
      color color-meta
  
  #main-nav
    font-family font-title
    text-align center
    line-height 2.5em
    margin-top 20px

    ul
      list-style none
      li
        display: inline
        margin-left 15px
        margin-right 15px
        i
          font-family: font-icon
        a
          &:hover
            color color-link-hover
