.post-divider
  margin 120px 19% 120px
  width 62%
  border 0
  height 1px
  background-image linear-gradient(to right, rgba(0, 0, 0, 0), color-border, rgba(0, 0, 0, 0));

#pagination
  a
    // display block
    padding 5px 10px
    // background color-border
    color color-meta
    font-family font-title
    // text-shadow 0 0 1px #fff
    margin-bottom 50px
    &:hover
      color color-link-hover
      border-bottom none
      // color #fff
      // text-decoration none
      // text-shadow none

  .prev
    &:before
      content '\f053'
      padding-right 10px
      font-family font-icon

  .next
    &:after
      content '\f054'
      padding-left 10px
      font-family font-icon
