#sidebar
  width 270px
  line-height 1.8em
  border-left 1px solid color-border
  padding-left 15px
  @media screen and (max-width: 900px)
    float none
    width 100%
  .widget
    // background #fff
    // box-shadow 1px 2px 3px #ddd
    margin-bottom 100px
    word-wrap break-word
    .title
      padding 15px 20px
      font-size 1em
      border-bottom 1px solid color-border
      font-weight normal

    .entry
      font-size 0.9em
      padding 15px 20px

    ul, ol, dl
      list-style none
      ul, ol, dl
        list-style disc
        margin-left 20px

  .search
    margin-bottom 100px
    input[type="search"], input[type="hidden"]
      background transparent
      font-family font-title
      // font-style italic
      font-size 1em
      padding 10px 15px
      outline none
      -webkit-box-shadow none
      -moz-box-shadow none
      border-top 0px
      border-right 0px
      border-bottom 1px solid color-border
      border-left 0px
      width 100%
      box-sizing border-box
      color color-meta
      &:focus
        color color-font

  #search_selector
    text-align center
    font-size 0.9em
    margin-top 0.5em
    input[type="radio"]
      display none
    label
      margin-left 1em
      margin-right 1em
      vertical-align middle
      cursor pointer
    input[type="radio"] + label span
      display inline-block
      vertical-align middle
      margin-right 0.5em
      width 0.6em
      height 0.6em
      border 0.25em solid color-border
      border-radius 50%
      background-color color-border
    input[type="radio"]:checked + label span
      background-color color-meta

  .tag
    small
      margin-left 15px
      color color-meta
      &:before
        content '('
      &:after
        content ')'

  .twitter
    li
      border-bottom 1px solid color-border
      padding 15px 20px
      font-size 0.9em
      &:last-of-type
        border-bottom none
    small
      display block
      margin-top 10px
      color color-meta
      line-height 1

  .tagcloud
    text-align center

    .entry
      padding-right 5px
    a
      margin-left 15px
      margin-right 15px
      display inline-block
